#tieude {
	color: red;
	text-align: bold;
}


#header{
	padding: 10px;
	background: #9deeff;
	text-align: center;
	border: solid;
	margin: 10px;
}

#wrapper {
	/*text-align: center;*/
	max-width: 1200px;
	border: solid;
	margin: 0 auto;	
}

#wp-content{
	display: flex;
	border: 2px solid; 	
	padding:0 10px 0 10px;
	min-height: 1000px;
	margin: 10px;
}

#content_self {
	flex-basis: 20%;
	padding: 10px;
}

#content_BK {
	flex-basis: 60%;
	padding: 10px;
	border-left: 1px solid;
	border-right: 1px solid;
	margin: 10px 0 10px 0;
}

#sidebar {
	flex-basis: 20%;
	padding: 10px;
}

.tiktok {
	padding-left: 20px;
}

.noidung {
	text-align: justify;
}